<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {{currentYear | date : 'yyyy'}} &copy; Gerencial - <a href="javascript:void(0);">Gerencial.com.br</a>
            </div>
            <div class="col-md-6">
                <div class="d-none d-md-flex gap-4 align-item-center justify-content-md-end footer-links">
                    <a href="javascript:void(0);">Sobre</a>
                    <a href="javascript:void(0);">Suporte</a>
                    <a href="javascript:void(0);">Contato</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->