<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="p-3">

                <!-- Logo -->
                <div class="auth-brand text-center text-lg-start">
                    <div class="auth-brand">
                        <a href="javascript:void(0)" class="logo logo-dark text-center">
                            <span class="logo-lg">
                                <img src="../assets/images/logo-dark.png" alt="" height="100">
                            </span>
                        </a>

                        <a href="javascript:void(0)" class="logo logo-light text-center">
                            <span class="logo-lg">
                                <img src="../assets/images/logo-light.png" alt="" height="100">
                            </span>
                        </a>
                    </div>
                </div>

                <ng-content></ng-content>


            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    
</div>
<!-- end auth-fluid-->