<app-page-title [breadcrumbItems]="pageTitle" title=""></app-page-title>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 style="font-weight: 100;">Ferramentas de apoio Eudmarco</h3>
                    </div>
                    <div class="row">
                        <app-card></app-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>