<div class="row">
    <div *ngFor="let tool of tools" class="col-md-4 mt-3">
        <div class="tool-card">
            <h4>{{tool.title}}</h4>
            <p>{{tool.description}}</p>
            <div class="tool-card-footer">
                <div class="tool-access">
                    <span><i class="fas fa-edit"></i> <a *ngIf="tool.link" [href]="tool.link"
                           class="tool-access" target="_self">Acessar</a></span>
                </div>
                <span class="tool-version"><strong>Versão:</strong> {{tool.version}}</span>
            </div>
        </div>
    </div>
</div>